<h3>{{vm.message}}</h3>


<br />

<!-- HEADER -->
<div class="container">
    <div class="row">
        <!-- DROPDOWN MENU -->
        <div ng-controller="DropdownMenu">
            <div class="col-md-2">
                <div class="btn btn-group" dropdown is-open="status.isopen">
                    <select class="btn btn-default droptown-toggle">
                        <option value="0" label="Please Select" class="dropdown-menu" role="menu"></option>
                        <option ng-repeat="route in vm.result" value="{{route.RouteId}}"
                                ng-selected="{{route.Selected == true}}">
                            {{route.Location}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- GOOGLE MAP -->
        <div class="col-md-offset-1 col-md-9">
            <div style="border: 1px solid black" class="angular-google-map-container" ng-controller="GoogleMapsController">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<tabset justified="true">

    <tab heading="ROUTES">
        <accordion close-others="oneAtATime">
            <accordion-group heading="INPUT" is-open="" is-disabled="status.isFirstDisabled">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-2">
                            <label>
                                Route: Add - RouteNum
                                <input ng-model="vm.routeNum_Add">
                            </label><br />
                            <label>
                                Route: Add - RouteStart
                                <input ng-model="vm.routeStart_Add">
                            </label><br />
                            <label>
                                Route: Add - RouteEnd
                                <input ng-model="vm.routeEnd_Add">
                            </label><br />
                        </div>
                        <div class="col-xs-offset-1 col-xs-2">
                            <label>
                                Route: Add - RouteAccessCodeId
                                <input ng-model="vm.routeAccessCodeId_Add">
                            </label><br />
                            <label>
                                Route: Add - RouteDistrictId
                                <input ng-model="vm.routeDistrictId_Add">
                            </label>
                            <button ng-click="vm.addRoute()">AddRoute</button>
                        </div>
                        <div class="col-xs-offset-1 col-xs-2">
                            <label>
                                Route: Delete - RouteId
                                <input ng-model="vm.routeId_Delete">
                            </label><br />
                            <button ng-click="vm.deleteRouteById()">DeleteRoute</button>
                        </div>
                    </div>
                </div>






            </accordion-group>

            <accordion-group heading="TABLE" is-open="" is-diabled="status.isFirstDisabled">

            </accordion-group>

        </accordion>

    </tab>

    <tab heading="BUS STOPS">

        <accordion close-others="oneAtATime">
            <accordion-group heading="INPUT" is-open="" is-disabled="status.isFirstDisabled">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-2">
                            <label>
                                Bus Stop: <br />
                                Add Bus Stop Location:
                                <input ng-model="vm.busStopLocation_Add">
                            </label><br />
                            <label>
                                Add Bus Stop Route ID:
                                <input ng-model="vm.busStopRouteId_Add">
                            </label>
                            <button ng-click="vm.addBusStop()" class="btn btn-success">Add BusStop</button>
                        </div>
                        <div class="col-xs-offset-2 col-xs-2">
                            <label>
                                Delete Bus Stop ID:
                                <input ng-model="vm.busStopId_Delete">
                            </label>
                            <button ng-click="vm.deleteBusStopById()" class="btn btn-danger">DeleteBusStop</button>
                        </div>
                    </div>
                </div>



            </accordion-group>

            <accordion-group heading="TABLE" is-open="" is-disabled="status.isFirstDisabled">
                <div>
                    <label>Search</label>
                    <input class="input-group" ng-model="searchKeyword" />
                </div>
                <!-- BUS STOPS TABLE -->

                <table class="table table-striped table-bordered" ng-controller="ModalController">
                    <thead>
                        <tr>
                            <th>Bus Stop ID</th>
                            <th>Location</th>
                            <th>Route ID</th>
                            <th>Edit</th>
                            <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="route in vm.result | filter: searchKeyword">
                            <td>{{route.BusStopId}}</td>
                            <td>{{route.Location}}</td>
                            <td>{{route.RouteId}}</td>
                            <td><div><button class="btn btn-primary" ng-click="">Edit</button></div></td>
                            <td><div><button class="btn btn-danger" ng-click="vm.deleteBusStopById()">Delete</button></div></td>

                        </tr>
                    </tbody>
                </table>
                <button ng-click="vm.getAllBusStops()" class="btn btn-default">Bus Stops</button>


            </accordion-group>
        </accordion>



    </tab>


</tabset>















































<h3>ROUTES</h3>
<div>
    <div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Route ID</th>
                        <th>Route Num</th>
                        <th>Route Start</th>
                        <th>Route End</th>
                        <th>Access Code ID</th>
                        <th>District ID</th>
                        <th>Bus Stops</th>
                        <th>Users</th>
                        <th>Schools</th>
                        <th>Driver</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="route in vm.result">
                        <td>{{route.RouteId}}</td>
                        <td>{{route.RouteNum}}</td>
                        <td>{{route.RouteStart}}</td>
                        <td>{{route.RouteEnd}}</td>
                        <td>{{route.AccessCodeId}}</td>
                        <td>{{route.DistrictId}}</td>
                        <td>{{route.BusStops}}</td>
                        <td>{{route.Users}}</td>
                        <td>{{route.Schools}}</td>
                        <td>{{route.Driver}}</td>
                        <td><div><button class="btn btn-primary" ng-click="open()">Edit</button></div></td>
                        <td><div><button class="btn btn-danger" ng-click="vm.deleteBusStopById()">Delete</button></div></td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="vm.getAllroutes()" class="btn btn-default">Get All Routes</button>
        </div>
    </div>
</div>

<br />
<br />


<!-- VOLTAIRE'S TEST FORM -->
<table class="table table-striped">
    <tbody>
        <tr></tr>
        <tr>
            <td>
                <div>
                    <label>
                        Bus Stop: <br />
                        Add BusStop Location
                        <input ng-model="vm.busStopLocation_Add">
                    </label><br />
                    <label>
                        BusStop:  <br />
                        Add BusStop RouteId
                        <input ng-model="vm.busStopRouteId_Add">
                    </label><br />
                    <button ng-click="vm.addBusStop()">Add BusStop</button>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        BusStop: <br />Get - BusStopRouteId
                        <input ng-model="vm.busStopRouteId_Get">
                    </label><br />
                    <button ng-click="vm.getBusStopsByRouteId()">GetBusStopByRouteId</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        BusStop: <br />Get - GetAllBusStops
                        <br /><button ng-click="vm.getAllBusStops()">GetAllBusStops</button>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        BusStop: Update - BusStopId
                        <input ng-model="vm.busStopId_Update">
                    </label><br />
                    <label>
                        BusStop: Update - BusStopLocation
                        <input ng-model="vm.busStopLocation_Update">
                    </label><br />
                    <label>
                        BusStop: Update - BusStopRouteId
                        <input ng-model="vm.busStopRouteId_Update">
                    </label><br />
                    <button ng-click="vm.updateBusStop()">UpdateBusStop</button>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        Route: <br />
                        Get - RoutebyId
                        <input ng-model="vm.routeId_Get">
                    </label><br />
                    <button ng-click="vm.getRouteById()">GetRouteById</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        Route: <br />
                        Get - RouteNum
                        <input ng-model="vm.routeRouteNum_Get">
                    </label><br />
                    <button ng-click="vm.getRouteByRouteNum()">GetRouteByRouteNum</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        Route: Get - DistrictId
                        <input ng-model="vm.routeDistrictId_Get">
                    </label><br />
                    <button ng-click="vm.getRoutesByDistrictId()">GetRouteByDistrictId</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        Route: Get - GetAllRoutes
                        <br /><button ng-click="vm.getAllRoutes()">GetAllRoutes</button>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label>
                        Route: Update - RouteId
                        <input ng-model="vm.routeId_Update">
                    </label><br />
                    <label>
                        Route: Update - RouteNum
                        <input ng-model="vm.routeNum_Update">
                    </label><br />
                    <label>
                        Route: Update - RouteStart
                        <input ng-model="vm.routeStart_Update">
                    </label><br />
                    <label>
                        Route: Update - RouteEnd
                        <input ng-model="vm.routeEnd_Update">
                    </label><br />
                    <label>
                        Route: Update - RouteAccessCodeId
                        <input ng-model="vm.routeAccessCodeId_Update">
                    </label><br />
                    <label>
                        Route: Update - RouteDistrictId
                        <input ng-model="vm.routeDistrictId_Update" />
                    </label>
                    <button ng-click="vm.updateRoute()">UpdateRoute</button>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
