{{vm.message}}
<table cass="table table-striped">
    <tbody>
        <tr>
            <td>
                <div>
                    <label>
                        Email to Send to:
                    <br />
                        <input ng-model="vm.emailTo">
                    </label><br />
                    <label>
                        Subject:
                        <br />
                        <input ng-model="vm.emailSubject">
                    </label><br />
                    <label>
                        Body:
                        <br />
                        <input ng-model="vm.emailBody" style="height: 100px">
                    </label><br />
                    <button ng-click="vm.sendEmail()">Send</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>