<div ng-controller="GoogleMapsController" id="total">
    <div class="row">
        <div class="col-sm-6">
            <ui-gmap-google-map id="map-canvas"
                                center="map.center"
                                zoom="map.zoom"
                                draggable="true"
                                options="map.options"
                                control="map.control">
            </ui-gmap-google-map>
        </div>
        <p>{{calcRoute()}}</p>
    </div>
</div>