<!DOCTYPE html>
<html>
<!-- Log 7.15.2015-->
<!-- Move the log so that it is in nav bar, clean up the back ground image so it doesnt have that line, link to angular -->
<head>
    <title>Login</title>
    <style>
        .ng-invalid.ng-touched {
            background-color: rgba(255, 15, 15, 0.25);
        }

        .error {
            color: red;
        }
    </style>
    <link href="Content/Login.css" rel="stylesheet" />
</head>
<body>

        <br />
        <br />

    <br />
    <div class="col-md-offset-5">
        <div class="login-form" ng-controller="LoginController">
            <div ng-hide="authenticationError">
            </div>
            <div class="alert alert-danger" ng-show="authenticationError">
                Authentication Failed({{authenticationError.status}}). Try again.
            </div>
            <form name="loginForm" novalidate>
                <div class="form-group">
                    <label>Username</label>
                    <input name="username" class="form-control input input-sm" ng-model="vm.username" ng-required="true" />
                    <span ng-show="loginForm.username.$touched && loginForm.username.$error.required" class="error">Required</span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" type="password" class="form-control" ng-model="vm.password" required />
                    <span ng-show="loginForm.password.$touched && loginForm.password.$error.required" class="error">Required</span>
                </div>
            </form>
            <button ng-click="vm.login(username, password)" ng-disabled="loginForm.$invalid" class="btn btn-primary">
                Log In
            </button>
            <br />
            <br />
            <div style="font-size: 18px;">
                <p>Haven't registered? &nbsp <a href="X">Register</a></p>
            </div>
        </div>
    </div>
    <br />
    <br />

</body>
</html>