{{vm.message}}

<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <style>
        .ng-invalid.ng-touched {
            background-color: rgba(255, 15, 15, 0.25);
        }

        .error {
            color: red;
        }
    </style>

</head>
<body>
    <h3>Registration Form</h3>
    <div>
        <form name="registrationForm" novalidate ng-submit="vm.register()">
            <!--<div>
                <label>
                    First Name:
                    <input name="firstName" ng-model="vm.firstName" />
                    <span ng-show="registrationForm.firstName.$touched && registrationForm.firstName.$error.required" class="error">Required</span>
                </label>
            </div>
            <br />
            <div>
                <label>
                    Last Name:
                    <input name="lastName" ng-model="vm.lastName" />
                    <span ng-show="registrationForm.lastName.$touched && registrationForm.lastName.$error.required" class="error">Required</span>
                </label>
            </div>-->
            <br />
            <div>
                <label>
                    Email:
                    <input name="email" ng-required="true" ng-model="vm.email" />
                    <span ng-show="registrationForm.email.$touched && registrationForm.email.$error.required" class="error">Required</span>
                </label>
            </div>
            <br />
            <br />
            <div>
                <label>
                    Create Password:<br />
                    <input name="createPassword" ng-model="vm.createPassword" />
                    <span ng-show="registrationForm.createPassword.$touched && registrationForm.createPassword.$error.required" class="error">Required</span>
                </label>
            </div>
            <div>
                <label>
                    Confirm Password:<br />
                    <input name="confirmPassword" ng-model="vm.confirmPassword" />
                    <span ng-show="registrationForm.confirmPassword.$touched && registrationForm.email.$error.required" class="error">Required</span>
                </label>
            </div>
            <br />
            <br />
            <!--<div>
                <label>
                    Address Line 1:
                    <input name="addressLine1" ng-model="vm.addressLine1" />
                    <span ng-show="registrationForm.addressLine1.$touched && registrationForm.addressLine1.$error.required" class="error">Required</span>
                </label>
            </div>
            <div>
                <label>
                    Address Line 2:
                    <input name="addressLine2" ng-model="vm.addressLine2" />
                </label>
            </div>
            <br />
            <div>
                <label>
                    City:
                    <input name="city" ng-model="vm.city" />
                    <span ng-show="registrationForm.city.$touched && registrationForm.city.$error.required" class="error">Required</span>
                </label>
            </div>
            <div>
                <label>
                    State:
                    <input name="state" ng-model="vm.state" />
                    <span ng-show="registrationForm.state.$touched && registrationForm.state.$error.required" class="error">Required</span>
                </label>
            </div>
            <div>
                <label>
                    Postal Code:
                    <input name="postalCode" ng-model="vm.postalCode" />
                    <span ng-show="registrationForm.postalCode.$touched && registrationForm.postalCode.$error.required" class="error">Required</span>
                </label>
            </div>
            <br />
            <br />
            <div>
                <label>
                    School(s):
                    <input name="school" ng-required="true" ng-model="vm.school" /><input type="button" value="Add School" ng-click="addSchool()" />
                </label>
            </div>
            <br />
            <div>
                <label>
                    Upload Profile Image:<br />
                    <input type="file" name="userImage" id="userImage" ng-model="vm.userImage" />
                    <!--<button ng-click="add()">Add</button>
                </label>
            </div>-->
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>