
<html>
<head>
    <title>SqRoute</title>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="Content/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body class="landing">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="#/">SquareRoute</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="#/admin">Admin</a></li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="#/login" class="button special">Login</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <img  src="../../images/route-logo-w2.png" />
                </header>
                <span class="image">

                </span>
            </div>
            <a href="#one" class="goto-next scrolly">Next</a>
        </section>

        <!-- One -->
        <section id="one" class="spotlight style1 bottom">
            <span class="image fit main"><img src="images/school-bus.jpg" alt="" /></span>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="4u 12u$(medium)">
                            <header>
                                <h2>Who We Are </h2>
                                <p>A web application for business and consumers </p>
                            </header>
                        </div>
                        <div class="4u 12u$(medium)">
                            <p>
                             SquareRoute is designed with one  purpose: to save you time. Time is a valued commodity and your time is as important to us as it is to you. That precious time will no longer be wasted waiting on your transportation. Take control of those other wasted moment with Square Route 
                            </p>
                        </div>
                        <!--<div class="4u$ 12u$(medium)">
                            <p>
                                Morbi enim nascetur et placerat lorem sed iaculis neque ante
                                adipiscing adipiscing metus massa. Blandit orci porttitor semper.
                                Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
                                mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
                                ipsum dolor nullam.
                            </p>
                        </div>-->
                    </div>
                </div>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </section>

        <!-- Two -->
        <section id="two" class="spotlight style2 right">
            <span class="image fit main"><img src="images/Advertising-Square.jpg" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Why We exist </h2>
                    <p>Because Extensive Waiting is not an option </p>
                </header>
                <p>The bus  is invisible until it's right in front of you. It could be a minute away. It could be 20 minutes away. You're craning your neck around the corner, praying for the first glimpse of that electronic sentinel – The No. 6! YES! – when for all you know, the blasted thing passed two minutes ago. And maybe you're late. Or it's sleeting. There's no one on hand to give reassuring updates or take escalating complaints.Well Until Now!</p>
                <ul class="actions">
                    <!--<li><a href="" class="button">Learn More</a></li>-->
                </ul>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </section>

        <!-- Three -->
        <section id="three" class="spotlight style3 left">
            <span class="image fit main bottom"><img src="images/Metro-Bus.jpg" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Improving Life for Business and Consumer </h2>
                    <p>One Application for mange the daily commute </p>
                </header>
                <p>We provide services for all industries to mange all the information for there to constiuents. Use our services to make you business more effiect by making your process and communication more streamlined.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>Our Services </h2>
                    <p>What We Provide </p>
                </header>
                <div class="box alt">
                    <div class="row uniform">
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-area-chart"></span>
                            <h3>Save Time </h3>
                            <p> Find the time that your transportation will arrive with live updates </p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-comment"></span>
                            <h3>Communication And Instant Alerts</h3>
                            <p>Receive Alerts and Emails when there is a change in weather or transportation service  </p>
                        </section>
                        <section class="4u$ 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-flask"></span>
                            <h3> Completly Customizable Infastructure</h3>
                            <p>Build essentials parts of your business with SqareRoute  </p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major"> 
                                <img src="../../images/Business_affiliate_network_64.png" /> </span>
                            <h3>Increase Productivty </h3>
                            <p>Using SquareRoute Infrastructure to make your business more efficient </p>
                        </section>
                        <!--<section class="4u 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-file"></span>
                            <h3>  </h3>
                            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        </section>-->
                        <section class="4u$ 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-lock"></span>
                            <h3>Increase Safety </h3>
                            <p>Through our parent guardian service to know when your the arrival of your child  </p>
                        </section>
                    </div>
                </div>
                <footer class="major">
                    <ul class="actions">
                        <li><a href="#" class="button">Magna sed feugiat</a></li>
                    </ul>
                </footer>
            </div>
        </section>

        <!-- Five -->
        <!--<section id="five" class="wrapper style2 special fade">
            <div class="container">
                <header>
                    <h2>Magna faucibus lorem diam</h2>
                    <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
                </header>
                <form method="post" action="#" class="container 50%">
                    <div class="row uniform 50%">
                        <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
                    </div>
                </form>
            </div>-->
        <!--</section>-->

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <!--<script src="Scripts/jquery.min.js"></script>-->
    <script src="Scripts/jquery.scrolly.min.js"></script>
    <script src="Scripts/jquery.dropotron.min.js"></script>
    <script src="Scripts/jquery.scrollex.min.js"></script>
    <script src="Scripts/skel.min.js"></script>
    <script src="Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="Scripts/main.js"></script>

</body>
</html>